/* Coolors Exported Palette - coolors.co/f3e9dc-80a1c1-0b3954-a93f55-222823 */

/* HSL */
$color1: hsla(34%, 49%, 91%, 1);
$color2: hsla(210%, 34%, 63%, 1);
$color3: hsla(202%, 77%, 19%, 1);
$color4: hsla(348%, 46%, 45%, 1);
$color5: hsla(130%, 8%, 15%, 1);

/* RGB */
$color1: rgba(243, 233, 220, 1);
$color2: rgba(128, 161, 193, 1);
$color3: rgba(11, 57, 84, 1);
$color4: rgba(169, 63, 85, 1);
$color5: rgba(34, 40, 35, 1);