/*
eggshell #f3e9dc (243, 233, 220)
light gray #d0ccd0 (208, 204, 208)
dark liver #584B53 rgb(88,75,83)
wenge #605856 rgb(96,88,86)
metallic seaweed #1c6e8c (28,110,140)
red rgb(169, 44, 44)
charcoal #374B4A
*/
body {
  background:
    linear-gradient(
      rgba(96, 88, 86, 0.9),
      rgba(96, 88, 86, 0.9)
    ), url("../images/rusty_sign_cropped.jpeg");
}

header {
  padding: 5px;
  background:
    linear-gradient(
      rgba(28, 110, 140, 0.85),
      rgba(28, 110, 140, 0.85)
    ), url("../images/wood.jpeg");
}


header h5 {
  background: rgb(169, 44, 44);
  padding: 10px 20px;
  display: inline;
  color: white;
  border-radius: 0 0 15px 15px;
}

.location {
  background: rgb(169, 44, 44);
  /*margin: -15px 40px 0 0;*/
  padding: 10px 60px;
  border-radius: 0 0 10px 10px;
}

footer {
  margin-top: 15px;
  color: #f3e9dc;
  font-size: 12px;
}

.navbar-brand {
  display: none;
}

.main-logo {
  width: 150px;
  margin: -50% auto;
  background:
}

.carousel {
  margin-bottom: 20px;
}

.pic-border {
  border: 4px solid #f3e9dc;
}

.dropdown-menu {
  min-width: 300px;
  padding: 15px;
}

/* .thumbnail-row styles*/
.thumbnail-row {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.thumbnail-row li{
  width: calc((100% / 3) - 10px);
  margin-right: 10px;
  display: inline-block;
}

.thumbnail-row li:last-of-type {
  margin-right: 0;
}

/* navbar styles*/
.navbar {
  background-image: none;
  background: #f3e9dc;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: #f3e9dc;
}

.navbar-default .navbar-nav>.active>a {
  background: #1c6e8c;
  color: white;
}

.navbar-default .navbar-nav>.active>a:visited,
.navbar-default .navbar-nav>.active>a:hover {
  background: #1c6e8c ;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #584b53;
  text-align: center;
}

.navbar-default .navbar-nav>li>a:active {
  background: rgba(96, 88, 86, 0.2);
}

@media screen and (min-width: 768px) {
  .navbar-default {
    padding-top: 5px;
/*     background: none; */
  }

  .navbar-default:after {
    display: block;
    width: 100%;
    height: 15px;
    background: #1c6e8c;
  }

  .navbar-default .navbar-nav>li>a:visited {
    background: #584b53;
  }

 .navbar-default .navbar-nav>li>a:hover {
    background: rgb(169, 44, 44);
    color: white;
  }


  .navbar-default .navbar-nav>li>a {
    padding: 5px 20px;
    border-radius: 15px 15px 0 0;
    margin: 0 5px;
    background: none;
    color: #584B53;
  }
}

.pale_background {
  background: rgba(208, 204, 208, 0.6);
  border-radius: 15px;
  padding: 10px;
}

/* .connect-list styles*/
.connect-list{
  color: #f3e9dc;
  list-style-type: none;
  margin: 0;
}

.connect-list li {
  border-bottom: 1px #584B53 solid;
  padding-bottom: 10px;
  margin: 10px 0;
}

.connect-list li:last-of-type {
  margin-bottom: 0;
  border: none;
}

.connect-list img {
  width: 100px;
  border-radius: 50%;
}

.info-container {
  /*width: 65%;*/
}

.connect-list h4 {
  color: #1c6e8c;
}

.connect-list p {
  font-size: 14px;
  color: rgb(88,75,83);
}

/* from_pastor styles*/

.pastor {
  max-width: 50%;
}

@media screen and (max-width: 766px){
  .main {
    padding: 0;
    background: #605856;
  }

  .nav li {
    display: block;
  }

  .navbar, .connect-list {
    margin: 0;
    border-radius: 0;
  }

  .carousel {
    border: none;
    margin: 0;
  }

  .pic-holder {
    display: none;
  }

  .connect-list, .connect-list li {
    padding: 0;
    margin: 0;
  }

  .connect-list li {
    padding: 0;
  }

  .info-container {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    color: white;
  }

  .info-container h4, .info-container p {
    color: white;
    /*position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
    margin: 10px auto;
    font-size: 2em;
  }

  .connect-list li:nth-child(1) .info-container {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url("../images/cross_large.jpg");
    background-position: center;
    background-size: cover;
  }

  .connect-list li:nth-child(2) .info-container {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url("../images/team_large.jpg");
    background-position: center;
    background-size: cover;
  }

  .connect-list li:nth-child(3) .info-container {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url("../images/volunteer_large.jpg");
    background-position: center;
    background-size: cover;
  }

  .connect-list li:nth-child(4) .info-container {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url("../images/africa_large.jpg");
    background-position: center;
    background-size: cover;
  }



  .connect-list li:nth-child(5) .info-container {
    background-image: url("../images/bible_large.jpg");
    background-position: center;
    background-size: cover;
  }

  .connect-list li p {
    color: #f3e9dc;
  }

  footer {
    background: #1c6e8c;
    margin: 0;
  }
}
