/*
eggshell #f3e9dc (243, 233, 220)
light gray #d0ccd0 (208, 204, 208)
dark liver #584B53 rgb(88,75,83)
wenge #605856 rgb(96,88,86)
metallic seaweed #1c6e8c (28,110,140)
red rgb(169, 44, 44)
charcoal #374B4A
*/
body {
  background:
    linear-gradient(
      rgba(96, 88, 86, 0.9),
      rgba(96, 88, 86, 0.9)
    ), url("../images/rusty_sign_cropped.jpeg");
}

header {
  padding: 15px;
  background:
    linear-gradient(
      rgba(28, 110, 140, 0.85),
      rgba(28, 110, 140, 0.85)
    ), url("../images/wood.jpeg");
  display: none;
}

.location {
  background: rgb(169, 44, 44);
  /*margin: -15px 40px 0 0;*/
  padding: 10px 60px;
  border-radius: 0 0 10px 10px;
}

footer {
  margin-top: 15px;
  color: #f3e9dc;
  font-size: 12px;
}

.nav-logo {
  max-width: 40px;
  margin: auto;
  display: inline;
  padding: 0;
  margin: 0;
}

.main-logo {
  width: 150px;
  margin: -50% auto;
}

.carousel {
  margin-bottom: 20px;
}

.pic-border {
  border: 4px solid #f3e9dc;
}

.dropdown-menu {
  min-width: 300px;
  padding: 15px;
}

/* .thumbnail-row styles*/
.thumbnail-row {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.thumbnail-row li{
  width: calc((100% / 3) - 10px);
  margin-right: 10px;
  display: inline-block;
}

.thumbnail-row li:last-of-type {
  margin-right: 0;
}

/* navbar styles*/
.navbar-default,
.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: #f3e9dc;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
  background: #1c6e8c;
  color: #f3e9dc;
}

.navbar-default .navbar-brand {
  color: #1c6e8c
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-nav>li>a {
  text-align: center;
  color: #584B53;
}


/* .connect-list styles*/
.connect-list{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background: rgba(208, 204, 208, 0.6);
  color: #f3e9dc;
  border-radius: 15px;
}

.connect-list li {
  border-bottom: 1px #584B53 solid;
  padding-bottom: 10px;
  margin: 10px 0;
}

.connect-list li:last-of-type {
  margin-bottom: 0;
  border: none;
}

.connect-list img {
  /*margin: 5px 0;*/
  /*display: inline;*/
  border-radius: 50%;
}

.info-container {
  /*width: 65%;*/
}

.connect-list h4 {
  color: #1c6e8c;
}

.connect-list p {
  font-size: 14px;
  color: rgb(88,75,83);
}

@media screen and (max-width: 485px){
  .main {
    padding: 0;
    background: #605856;
  }

  .navbar, .connect-list {
    margin: 0;
    border-radius: 0;
  }

  .carousel {
    border: none;
    margin: 0;
  }

  .connect-list li p {
    color: #f3e9dc;
  }

  footer {
    background: #1c6e8c;
    margin: 0;
  }
}
